{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>e-store - {% block title %}Title Missing{% endblock title %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/fvicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
</head>

<body>

  {% if user.is_authenticated %}
    <!-- Inclure la barre de navigation -->
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
      {% include 'partials/sidebar.html' %}
      <!--  Main wrapper -->
      <div class="body-wrapper">
        {% include 'partials/header.html' %}
        {% include 'index.html' %}
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  {% endif %}
</body>

<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="https://kit.fontawesome.com/6e8f3b4a1f.js" crossorigin="anonymous"></script>
</html>